EXPO_PUBLIC_FIREBASE_API_KEY=your_api_key
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=ceylo-app.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=ceylo-app
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=ceylo-app.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=8889588910
EXPO_PUBLIC_FIREBASE_APP_ID=1:8889588910:android:ce17460e21616d075ea13f


# Google Maps API Key
# Get your API key from: https://console.cloud.google.com
# Enable: Places API, Directions API, Maps SDK for Android/iOS
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=your_api_key

# Firebase Configuration

# voice assitance 
EXPO_PUBLIC_VOICE_ASSISTANCE_API_KEY=your_api_key

#  Ollama API Key
EXPO_PUBLIC_OLLAMA_API_KEY=your_api_key

#Translation API Key
EXPO_PUBLIC_TRANSLATION_API_KEY=your_api_key

# Google OAuth Client IDs
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your_web_client_id
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your_ios_client_id
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your_android_client_id
